* {
  margin: 0;
  padding: 0;
}

header {
    position: relative;
}

header img {
    height: 300px;
    width: 100%;
}

header h1 {
    position: absolute;
    top: 20%;
    left: 2%;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    display: grid;
}